* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --base-color: 194;



    --bg-bodylight: #FFF;
    --bg-input: #323238;
    --bg-colorcardlight: #E1E1E6;
    --primary-color: #02799D;
    --color-displaylight: #323238;
    --fill-color: #323238;
    --fill-colorcard: #323238;
    --bg-cardDark: #0A3442;


    --bg-body-dark: #121214;
    --bg-dark-input: #FFF;
    --bg-card-dark: #29292E;
    --bg-card-dark-selected: #0A3442;
    --color-display-dark: #FFF;
    --color-fill-dark: #C4C4CC;
    --color-button-fill-dark: #C4C4CC;

}
:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: grid;
    background: var(--bg-bodylight);
}

header{
    position: absolute;
    right: 0;
    margin: 6rem 6rem 0 0;

}

main {
    width: clamp(4rem, 3rem + 40vw,82.1rem);
    height: 33.6rem;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 19.2rem;
}
.card svg path {
    fill: var(--fill-colorcard);
}

#timer{
    animation: downtop 1s;
    font-size: 12.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-displaylight);
}
#controls {
    animation: downtop 1s;
    display: flex;
    gap: 4rem;
    margin-top: 2.8rem;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
#timerControls #controls button svg path{
    fill: var(--fill-color);
}

.card:hover, svg:hover{
    transform: scale(1.2);
    transition: 400ms;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;  
    gap: 3.2rem;  
    border-radius: 24px;
    width: 13.8rem;
    height: 15.2rem;
    background: var(--bg-colorcardlight);
    cursor: pointer;
    transition: all 700ms;
}

#cards .card svg{
    margin-top: 2.4rem;
}

#cards {
    animation: topdown 1s;
    display: grid;
    grid-gap: 3.2rem;
    grid-template-areas:
    "A B"
    "C D";
}

#cards .card svg:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.cardOn {
    background: var(--primary-color);
}

.cardOn svg path {
    fill: #FFF;
}

.cardDark {
    background: #0A3442;
    /* background: red; */
}
.cardDark svg path {
    fill: white;
}

input {
    -webkit-appearance: none;
    background: var(--bg-input);
    outline: none;
    width: 9rem;
    height: 0.4rem;
    border-radius: 6px;   
    
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 

    background: var(--bg-input);
    cursor: pointer;
}

input::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    background: var(--bg-input);
    cursor: pointer;
}


.darkinput {
    -webkit-appearance: none;
    background: var(--bg-dark-input);
    outline: none;
    width: 9rem;
    height: 0.4rem;
    border-radius: 6px;   
}

.darkinput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 

    background: var(--bg-dark-input);
    cursor: pointer;
}

.darkinput::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    background: var(--bg-dark-input);
    cursor: pointer;
}

.hide {
    display: none;
}


@media (max-width: 375px){
    header{
        position: relative;
        margin: auto ;
        padding-top: -20rem;
    }
    main{
        flex-direction: column;
        gap: 5rem; 
        margin-bottom: 15rem;
        
    }
    #timer{
        font-size: 9em;
    }
    #controls {
        gap: 2rem;
    }

    #cards {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-areas:
        "A B"
        "C D";
    }

    #cards .card svg {
        width: 13rem;
    }
    .card {
        width: 12.5rem;
    }

}
@media (max-width: 830px) {
    header {
        position: relative;
        margin: auto;
        padding-top: -20rem;

    }
    main{
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 15rem;

    }
    #timer{
        margin-bottom: -3rem;
    }
}
@keyframes topdown {
    0% {
        transform: translateY(-35px);

    }

    100%{
        transform: translateY(0);
    }
}
@keyframes downtop{
    0% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(0);
    }
}


